# Analysis of **FAO** data from 2014 to 2018

## Loading the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#get the FAO data 
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'Latin-1')

In [3]:
#getting the first rows
df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [4]:
#getting the last rows 
df.tail(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
#ascertain for null values, the number of non-null values, and the types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 4.6+ MB

In [6]:
#check for null values for each colunn
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [7]:
#get the unique Areas, Item, Element and Unit for all the rows 
for i in [1,3,5,6]:
    print ("All the elements in", df.columns[i], "are made up of", str(df.iloc[:,i].unique()))
    print ()
    print ("All these totalling", len(df.iloc[:,i].unique()))
    print ("-----------------------------------------------------------------------")
    print()

All the elements in Area are made up of ['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "CÃ´te d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']

All these totalling 49
-----------------------------------------------------------------------

All the elements in Item are made up of ['Population' 'Grand Total' 'Vegetal Products' 'Animal Products'
 'Cereals - Excluding Beer' 'Wheat and products' 'Rice and products'
 'Barley and products' 'Maize and products' 'Rye and products' 'Oats'
 'Millet and products' 'Sorghum and products' 'Cereals, Other'
 'Starchy Roots' 'Cassava and products' 'Potatoes and products'
 'Sweet potatoes' 'Yams' 'Roots, Other' 'Sugar Crops' 'Sugar cane'
 'Sugar beet' 'Sugar & Sweeteners' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Pulses' 'Beans' 'Peas'
 'Pulses, Other and products' 'Treenuts' 'Nuts and products' 'Oilcrops'
 'Soyabeans' 'Groundnuts (Shelled Eq)' 'Sunflower seed'
 'Rape and Mustardseed' 'Cottonseed' 'Coconuts - Incl Copra' 'Sesame seed'
 'Olives (including preserved)' 'Oilcrops, Other' 'Vegetable Oils'
 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil' 'Rape and Mustard Oil'
 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Vegetables' 'Tomatoes and products' 'Onions' 'Vegetables, Other'
 'Fruits - Excluding Wine' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Plantains' 'Apples and products' 'Pineapples and products'
 'Dates' 'Grapes and products (excl wine)' 'Fruits, Other' 'Stimulants'
 'Coffee and products' 'Cocoa Beans and products' 'Tea (including mate)'
 'Spices' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other'
 'Alcoholic Beverages' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Alcohol, Non-Food' 'Meat' 'Bovine Meat'
 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other' 'Offals'
 'Offals, Edible' 'Animal fats' 'Butter, Ghee' 'Cream'
 'Fats, Animals, Raw' 'Fish, Body Oil' 'Fish, Liver Oil' 'Eggs'
 'Milk - Excluding Butter' 'Fish, Seafood' 'Freshwater Fish'
 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other' 'Crustaceans'
 'Cephalopods' 'Molluscs, Other' 'Aquatic Products, Other'
 'Aquatic Animals, Others' 'Aquatic Plants' 'Miscellaneous' 'Infant food'
 'Sugar non-centrifugal' 'Palm kernels' 'Ricebran Oil']

All these totalling 119
-----------------------------------------------------------------------

All the elements in Element are made up of ['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']

All these totalling 18
-----------------------------------------------------------------------

All the elements in Unit are made up of ['1000 persons' '1000 tonnes' 'kcal/capita/day' 'g/capita/day' 'kg']

All these totalling 5
-----------------------------------------------------------------------

## Exploratory Data Analysis (EDA)

### 1) What is the total sum of animal fat produced in 2014 and 2017

In [8]:
#subset the Items and Element columns containing information on animal fats 
#and production
df_animal = df[(df.iloc[:,3] == 'Animal fats') & (df.iloc[:,5]=='Production')]

#group all the animal fats and solve for their production in the year 2014 and 2017
df_sum_of_prod_14_17=df_animal.groupby('Item')[["Y2014","Y2017"]].sum()
print ('The total animal fat produced in 2014:', df_sum_of_prod_14_17.iloc[0,0])
print()
print ('The total animal fat produced in 2017:', df_sum_of_prod_14_17.iloc[0,1])
print ()

print ('\n The total animal fat for the two years:', df_sum_of_prod_14_17.values.sum())

The total animal fat produced in 2014: 87797.0

The total animal fat produced in 2017: 116456.0


 The total animal fat for the two years: 204253.0

### 2) Mean and standard deviation of the entire dataset for the whole year 2015 (to 3 dp)

In [9]:
#subset the data for 2015 and access the mean
df_2015=df.loc[:,"Y2015"]
print ("Mean of the dataset for 2015:", np.mean(df_2015).round(3))
print()
print ("Standard deviation of the dataset for 2015:", np.std(df_2015).round (3))

Mean of the dataset for 2015: 135.236

Standard deviation of the dataset for 2015: 1603.39

### 3) What is the total number and percentage of missing data in 2016 (in 2dp)

In [10]:
#calculate for missing data 
df_2016 = df.loc[:,"Y2016"]
df_2016_nullsum = df_2016.isnull().sum()

#calculate percentage 
percent = (df_2016_nullsum / len(df_2016)) * 100 
print ("Percentage of missing data in 2016:", percent.round(2), "%")

Percentage of missing data in 2016: 2.52 %

### 4) Which year had the highest correlation with 'Element code'

In [11]:
#Get the correlations of all the columns
df_corr = df.corr()

#subset the correlation of Element Code for the year 2014 to 2018
corr_year= df.corr()["Element Code"]["Y2014":"Y2018"] 

#Extract the highest correlated value and it's index.
high_corr_year = corr_year.index[np.argmax(corr_year)]
print ("The year with the highest correlation with Element code:", high_corr_year)

The year with the highest correlation with Element code: Y2014

### 5) What is the highest sum of Import Quantity

In [12]:
#Extract all the sums for all values of the Element column
Element = df.groupby("Element").sum()

#subset values of Import quantity for the years 2014 to 2018
Elements = Element.loc["Import Quantity"]["Y2014":"Y2018"]

#Get the highest quantity and its corresponding year
high_year=Elements.index[np.argmax(Elements)]
print("The highest sum of import quantity: $",Elements.max(), " in ", high_year)

The highest sum of import quantity: $ 294559.09  in  Y2017

### 6)  Total number of the sum of production in 2014

In [13]:
#from subset the sum of production in 2014 from the already summed Element variable
print ("The total sum of production in 2014: $", Element.loc["Production","Y2014"])

The total sum of production in 2014: $ 1931287.75

### 7) Elements with the highest sum in 2018

In [14]:
#Get the highest sum for 2018 and get the name 
Element_max = Element["Y2018"].max()
high_2018 = Element.index[np.argmax(Element ["Y2018"])]

print ("The highest Element for 2018:", high_2018, "with $", Element_max)

The highest Element for 2018: Domestic supply quantity with $ 2161192.1

### 8) Which of these elements had the third lowest sum in 2018

In [15]:
#sort the sums of the element by 2018 and in ascending order
sort_element = Element.copy().sort_values("Y2018") 

#extract the third lowest for 2018
third_low= sort_element.iloc[2,-1]

#extract its index 
third_ind = sort_element.index[2]

print("The element with the third lowest sum in 2018:", third_ind, "with $", third_low)

The element with the third lowest sum in 2018: Protein supply quantity (g/capita/day) with $ 11833.56

### 9) What is the total import quantity in Algeria in 2018

In [16]:
#get the total import quantities for all countries
import_q = df[df["Element"] == "Import Quantity"].groupby(["Area","Element"]).sum() 

#subset the import quantity in Algeria in 2018
Alg_import_2018 = import_q.loc["Algeria","Y2018"][0]
print ("The total import quantity in Algeria in 2018 is $", Alg_import_2018)

The total import quantity in Algeria in 2018 is $ 36238.29

### 10) Total number of unique countries

In [17]:
#get the number of countries

no_of_countries = len(df["Area"].unique())
print("Total number of countries:", no_of_countries)

Total number of countries: 49